
@{
    ViewBag.Title = "DSTaiKhoan";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
}
@using QLKS_CNPM_LT.Models
@model List<TAIKHOAN>
@{
    var stt = 1;
}

<script>
    var element = document.getElementById("collapse1");
    element.classList.add("in");
</script>


<h2 style="text-align:center">Danh Sách Tài Khoản</h2>
<div class="">
    <form method="post">
        <input type="submit" value="Xoá tất cả" />
        <div id="myinput">
            <input type="text" name="search" class="live-search-box" placeholder="Bạn cần tìm gì" />
        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkBoxAll" /></th>
                    <th>STT</th>
                    <th>ID TK</th>
                    <th>Ten Tài Khoản</th>
                    <th>Mật Khẩu</th>
                    <th>Số Điện Thoại</th>
                    <th>Email</th>
                    <th>Loai TK</th>
                    <th>ANH</th>
                    
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (TAIKHOAN tk in Model)
                    {
                        <tr>
                            <td>
                                @if (((TAIKHOAN)Session["TaiKhoan"]).Gmail == tk.Gmail)
                                {
                                    <input disabled type="checkbox"/>
                                }
                                else
                                {
                                    <input type="checkbox" class="chkCheckBoxId" name="ID_TK" value="@tk.ID_TK" />
                                }
                            </td>
                            <td>@stt</td>
                            <td>@tk.ID_TK</td>
                            <td>@tk.TenTK</td>
                            <td>@tk.PASS</td>
                            <td>@tk.SDT</td>
                            <td>@tk.Gmail</td>
                            <td>@tk.LOAITK</td>
                            <td>
                                @if (tk.ANH != null)
                                {
                                    <img src="@Url.Content(tk.ANH)" id="previewImg" width="50px" height="50px" />
                                }

                            </td>
                            <td>
                                @if (((TAIKHOAN)Session["TaiKhoan"]).Gmail == tk.Gmail)
                                {
                                    <span style="color:orangered">Đang được sử dụng</span>
                                }
                                else
                                {
                                    <a href="/Admin/SuaTaiKhoan/@tk.ID_TK">Sửa</a>
                                }

                            </td>
   
                        </tr>
                        stt++;
                    }
                }
            </tbody>
        </table>
    </form>
</div>

@Html.Partial("~/Views/SharedAdmin/_XacNhanModal.cshtml")

<script>

    $(document).ready(function () {
        // Check/uncheck all checkboxes when "Select All" checkbox is clicked
        $("#checkBoxAll").click(function () {
            $(".chkCheckBoxId").prop("checked", this.checked);
        });

        // Check "Select All" checkbox if all checkboxes are selected, and uncheck if at least one is unselected
        $(".chkCheckBoxId").click(function () {
            if ($(".chkCheckBoxId:checked").length === $(".chkCheckBoxId").length) {
                $("#checkBoxAll").prop("checked", true);
            } else {
                $("#checkBoxAll").prop("checked", false);
            }
        });

        // Confirm before submitting the form to delete all
        $('form').submit(function (event) {
            if ($('.chkCheckBoxId:checked').length === 0) {
                event.preventDefault();
                swal("Thông báo", "Vui lòng chọn ít nhất một phòng để xoá.", "warning");
            } else {
                swal({
                    title: "Xác nhận",
                    text: "Bạn có chắc muốn xoá tất cả các phòng đã chọn?",
                    icon: "warning",
                    buttons: ["Hủy", "Xoá"],
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        // If the user confirms, submit the form
                        $('#loadingOverlay').show();
                        $('form').unbind('submit').submit();
                    }
                });
                $('#loadingOverlay').hide();
                event.preventDefault();
            }
        });
    });


    $(document).ready(function () {
        $('.live-search-box').on('keyup', function () {
            var searchTerm = $(this).val().trim().toLowerCase();

            $('tbody tr').each(function () {
                var tenTK = $(this).find('td:nth-child(4)').text().trim().toLowerCase();
                var gmail = $(this).find('td:nth-child(7)').text().trim().toLowerCase();
                var loaiTK = $(this).find('td:nth-child(8)').text().trim().toLowerCase();
                var idTK = $(this).find('td:nth-child(3)').text().trim().toLowerCase();
                if (
                    compareStrings(gmail, searchTerm) ||
                    compareStrings(tenTK, searchTerm) ||
                    compareStrings(loaiTK, searchTerm) ||
                    compareStrings(idTK, searchTerm) ||
                    searchTerm.length < 1
                ) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>