

@{
    ViewBag.Title = "SUAPHONG";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
}
@using QLKS_CNPM_LT.Models
@model PHONG

@{
    var db = new QLKS_CNPMEntities();
    var loaiPhong = (from lp in db.LOAIPHONGs select lp).ToList();
    var taikhoan = (from idtk in db.TAIKHOANs select idtk).ToList();
}

<script>
    var element = document.getElementById("collapse3");
    element.classList.add("in");
</script>

<div id="loadingOverlay">
    <div class="spinner"></div>
</div>

<h2 style="text-align:center">Sửa Phòng</h2>

<div class="container admin-sua-thong-tin">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>MÃ LOẠI PHÒNG:</label>
            <input class="form-control dang-nhap-text" type="text" name="MA_PHONG" value="@Model.MA_PHONG" readonly />
        </div>

        <div class="form-group">
            <label>TÊN PHÒNG:</label>
            <input class="form-control dang-nhap-text" type="text" name="TENPhong" value="@Model.TENPhong" />
            <span class="canh-bao">@Html.ValidationMessageFor(m => m.TENPhong)</span>
        </div>

        <div class="form-group">
            <label>Loại phòng:</label>
            <select class="form-control dang-nhap-text" name="MaLoai" id="MaLoai">
                @foreach (var lp in loaiPhong)
                {
                    <option value="@lp.MaLoai" @(Model.MaLoai == lp.MaLoai ? "selected" : "")>@lp.TenLoai</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Chủ sở hữu:</label>
            <select class="form-control dang-nhap-text" name="ID_TK" id="ID_TK">
                @foreach (var lp in taikhoan)
                {
                    <option value="@lp.ID_TK" @(Model.ID_TK == lp.ID_TK ? "selected" : "")>@lp.TenTK</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>ĐIA CHỈ:</label>
            <input class="form-control dang-nhap-text" type="text" name="DiaChi" value="@Model.DiaChi" />
            <span class="canh-bao">@Html.ValidationMessageFor(m => m.DiaChi)</span>
        </div>

        <div class="form-group">
            <label>GIÁ:</label>
            <input class="form-control dang-nhap-text" type="number" name="GIA" value="@Model.GIA" />
            <span class="canh-bao">@Html.ValidationMessageFor(m => m.GIA)</span>
        </div>


        <div class="form-group">
            <label>Ghi Chú:</label>
            <textarea class="form-control dang-nhap-text" style="height: 100px" name="NoiDung">@Model.NoiDung</textarea>
            <span class="canh-bao">@Html.ValidationMessageFor(m => m.NoiDung)</span>
        </div>

        <div class="form-group">
            <label>TRẠNG THÁI:</label>
            <select class="form-control dang-nhap-text" name="TRANGTHAI" id="TRANGTHAI">

                <option value="1">Trống</option>
                <option value="0">Không trống</option>

            </select>
            <span class="canh-bao">@Html.ValidationMessageFor(m => m.TRANGTHAI)</span>
        </div>


        <div class="form-group">
            @if (Model.ANH != null)
            {
                <img src="@Url.Content(Model.ANH)" id="previewImg" width="100px" height="100px" />
            }
        </div>

        <div class="form-group">
            <label>ANH:</label>

            <input class="form-control dang-nhap-text" type="text" name="ANH" id="ANH" value="@Model.ANH" readonly />
            <input class="center" id="file" type="file" name="file" onchange="funcChonAnh()" />
        </div>




        <div class="form-group">
            <input class="btn btn-ok" type="submit" value="Cập Nhật" />
        </div>



    </form>
</div>

<script>

    $('form').submit(function (event) {
        // Display the loading overlay
        $('#loadingOverlay').show();
    });

    // Hide loading overlay when form submission is complete
    $(document).ajaxStop(function () {
        $('#loadingOverlay').hide();
    });

    function funcChonAnh() {
        previewImg.src = URL.createObjectURL(event.target.files[0]);
        var duongDanAnh = document.getElementById('ANH');
        var file = document.getElementById('file');
        var fileName = file.files[0].name;
        duongDanAnh.value = '/Data/roomImg/' + fileName;
    }
</script>