
@{
    ViewBag.Title = "CaNhan";
    Layout = "~/Views/Shared/HouseLayout.cshtml";
}

@using QLKS_CNPM_LT.Models.ViewModel
@model TaiKhoanDangKyView

<link rel="Stylesheet" href="~/Content/MyStyle/CaNhan.css" />

<div id="loadingOverlay">
    <div class="spinner"></div>
</div>


<div class="container">
    <h1>Thông tin cá nhân</h1>

    @if (ViewBag.Success == 1)
    {
        <p class="thanh-cong" style="text-align:center">Lưu Thông Tin Thành Công!</p>
    }
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="ANH"></label>
            <div class="ANH" style="background-image: url(@Url.Content(Model.ANH))"></div>
            <button type="button" class="btn-edit" onclick="showEditForm('ANH')">Thay đổi Avatar</button>
            <div id="ANH-edit-form" class="edit-form">
                <input class="form-control dang-nhap-text" type="text" name="ANH" id="ANH" value="@Model.ANH" readonly/>
                <input type="file" id="file" name="file" accept="image/jpeg, image/png" onchange="funcChonAnh()" />
                <button type="button" onclick="saveAvatar()">Lưu</button>
                <button type="button" onclick="cancelEdit('ANH')">Hủy</button>
            </div>
        </div>


        <div class="form-group" hidden>
            @if (Model.ANH != null)
            {
                <img src="@Url.Content(Model.ANH)" id="previewImg" width="100px" height="100px" />
            }
        </div>




        <div class="form-group">
            <label for="ID_TK">ID tài khoản</label>
            <input type="text" id="ID_TK" name="ID_TK" value="@Model.ID_TK" readonly>
        </div>

        <div class="form-group">
            <label for="Gmail">Địa chỉ email</label>
            <input type="text" id="Gmail" name="Gmail" value="@Model.Gmail" readonly>
        </div>

        <div class="form-group">
            <label for="LOAITK">Loại tài khoản</label>
            <input type="text" id="LOAITK" name="LOAITK" value="@Model.LOAITK" readonly>
        </div>

        <div class="form-group">
            <label for="TenTK">Tên tài khoản</label>
            <input type="text" id="TenTK" name="TenTK" value="@Model.TenTK">
            <span class="canh-bao">@Html.ValidationMessageFor(m => m.TenTK)</span>
        </div>

        <div class="form-group">
            <label for="SDT">Số điện thoại</label>
            <input type="tel" id="SDT" name="SDT" value="@Model.SDT" readonly>
        </div>

        <div class="form-group">
            <label for="PASS">Mật khẩu</label>
            <input type="password" id="PASS" name="PASS" value="@Model.PASS">
            <span class="canh-bao">@Html.ValidationMessageFor(m => m.PASS)</span>
        </div>

        <div class="form-group">
            <label for="XacNhanMatKhau">Xác nhận mật khẩu</label>
            <input type="password" id="XacNhanMatKhau" name="XacNhanMatKhau" value="@Model.XacNhanMatKhau">
            <span class="canh-bao">@Html.ValidationMessageFor(m => m.XacNhanMatKhau)</span>
        </div>


        <div class="form-group">
            <input class="btn btn-ok" type="submit" value="Cập Nhật" />
        </div>



    </form>



</div>


<script>
    function showEditForm(field) {
        document.getElementById(`${field}-edit-form`).style.display = 'block';
    }

    function cancelEdit(field) {
        document.getElementById(`${field}-edit-form`).style.display = 'none';
    }

    function showEditForm(field) {
        if (field === 'file') {
            document.getElementById('file').value = null; // reset giá trị file upload
        }
        document.getElementById(`${field}-edit-form`).style.display = 'block';
    }

    function funcChonAnh() {
        previewImg.src = URL.createObjectURL(event.target.files[0]);
        var duongDanAnh = document.getElementById('ANH');
        var file = document.getElementById('file');
        var fileName = file.files[0].name;
        duongDanAnh.value = '~/Data/profileImg/' + fileName;
    }

    function saveAvatar() {
        const fileInput = document.getElementById('file');

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                const avatarPreview = document.querySelector('.ANH');
                avatarPreview.style.backgroundImage = `url(${e.target.result})`;
            }



            reader.readAsDataURL(fileInput.files[0]);
        }

        cancelEdit('ANH');
    }

    $('form').submit(function (event) {
        // Display the loading overlay
        $('#loadingOverlay').show();
    });

    // Hide loading overlay when form submission is complete
    $(document).ajaxStop(function () {
        $('#loadingOverlay').hide();
    });
</script>