
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/HouseLayout.cshtml";
}

@using QLKS_CNPM_LT.Models.ViewModel
@model TaiKhoanDangKyView

<link href="~/Content/Mystyle/Register.css" rel="stylesheet" />
<style>
    .field-validation-error {
        color: red;
    }
</style>

<h1 style="text-align:center;margin-bottom:20px">Đăng ký</h1>
<div class="center">

    <form action="" method="post">

        <div class="group">
            <input data-val-length="Ít nhất 3 kí tự trở lên" id="TenTK" name="TenTK" type="text" value="@Model.TenTK">
            <span class="highlight"></span>
            <span class="bar"></span>
            <span class="canh-bao">@Html.ValidationMessageFor(m => m.TenTK)</span>
            <label class="lab">Tên tài khoản</label>
        </div>


        <div class="group">
            <input id="Gmail" name="Gmail" type="text" value="@Model.Gmail">
            <span class="highlight"></span>
            <span class="bar"></span>
            @Html.ValidationMessageFor(m => m.Gmail)
            <label class="lab">Nhập địa chỉ email</label>
        </div>

        <div class="group">
            <input id="SDT" name="SDT" type="number" value="@Model.SDT">
            <span class="highlight"></span>
            <span class="bar"></span>
            @Html.ValidationMessageFor(m => m.SDT)
            <label class="lab">Nhập số điện thoại</label>
        </div>

        <div class="group">
            <input id="PASS" name="PASS" type="password" value="">

            <span class="highlight"></span>
            <span class="bar"></span>
            @Html.ValidationMessageFor(m => m.PASS)
            <label class="lab">Nhập mật khẩu</label>
        </div>

        <div class="group">
            <input id="XacNhanMatKhau" name="XacNhanMatKhau" type="password" value="">
            <span class="highlight"></span>
            <span class="bar"></span>
            @Html.ValidationMessageFor(m => m.XacNhanMatKhau)
            <label class="lab">xác nhận lại mật khẩu</label>
        </div>

        <div class="form-group">
            <label>ANH:</label>
            <img src="~/Content/profileImg/profileImg.png" id="previewImg" width="50px" height="50px" />
            <input class="form-control dang-nhap-text" type="text" name="ANH" id="ANH" value="@Model.ANH" readonly />
            <input class="center" id="file" type="file" name="file" onchange="funcChonAnh()" />
            <span style="color:red">@Html.ValidationMessageFor(m => m.ANH)</span>
        </div>


        <input type="submit" name="submit" class="btn btn-danger" value="Đăng ký" />

    </form
</div>

<script>
    function funcChonAnh() {
        previewImg.src = URL.createObjectURL(event.target.files[0]);
        var duongDanAnh = document.getElementById('ANH');
        var file = document.getElementById('file');
        var fileName = file.files[0].name;
        duongDanAnh.value = '/Data/profileImg/' + fileName;
    }
</script>
